
body {
  background-image: url('/img/Wallpaper@3x.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.container-fluid {
  max-width: 1646px;
}

.page {
  position: relative;
  padding-bottom: $_20;
  min-height: calc(100vh);
  height: calc(100vh);
  padding-top: 129px;
  background-size: cover;
  display: flex;
  @include media-breakpoint-up(sm) {
    min-height: $_100*4;
  }
  @include media-breakpoint-up(md) {
    padding-top: $_160;
    padding-bottom: $_100;
  }

  &.page--dark {
    &:before {
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom:0;
      content: '';
      background-color: #000;
      opacity: 0.56;
    }
  }

}