
body {
  background-image: url('/img/png/Wallpaper@3x.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid {
  max-width: 1646px;
}

.page {
  position: relative;
  padding-bottom: $_20;
  min-height: calc(100vh);
  height: auto;
  padding-top: 129px;
  background-size: cover;
  display: flex;
  @include media-breakpoint-up(md) {
    padding-top: $_160;
    padding-bottom: $_100;
  }

  &.page-shadow:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: #000;
  }

  &.page--dark:before {
    opacity: 0.56;
  }
  &.page--darker:before {

    opacity: 0.76;
  }

  &.page--light {
    background-color: #fafafa;
  }
}