.backgroud {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 998;
  height: 100%;
  overflow: hidden;
  picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__image {
    position: relative;
    &--center {
      top: 50%;
      transform: translateY(-50%);
    }

  }

}

.heading {
  font-size: $_40;
  font-weight: bold;
  &--white {
    color: $white;
  }

  &--subtitle {
    font-size: $_30;
    font-weight: 400;

    span {}

  }

  &__perex {
    line-height: $_32;
    font-size: $font-size-base;
  }

  &--big {
    font-size: $_45+$_3;
  }

  &--small {
    font-size: $_24;
    letter-spacing: $_1;
  }
  &--smaller {
    font-size: $_14;
    letter-spacing: $_2;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $font-family-base;
    color: #5F5F5F;
  }

  &--icon {
    position: relative;
    svg {
      position: absolute;
      bottom:0;
      left:0;
    }
  }

  &--subtitle-pre {
    display: flex;
    align-items: center;
    &:before {
      content: '';
      width: $_40;
      height: 1px;
      background-color: $orange;
      margin-right: $_20;
    }
  }

}

.ff-merri {
  font-family: $font-family-merriweather;
}

.ff-lora {
  font-family: $font-family-lora;
}

.ff-raleway {
  font-family: $font-family-base;
}

.line-95 {
  line-height: $_95;
}
.line-32 {
  line-height: $_32;
}

.animated-slow {
  animation-duration: 2s;
}

.no-border {
  border:none;
}

.side-image {
  position: absolute;
  top:50%;
  transform: translate(-50%,-50%);
  left: 0;
}
.w-65 {
  width: 65%;
}

.ls-1 {
  letter-spacing: 1px;
}

.half {
  flex-basis: 50%;
}

.bg-black {
  background-color: $black;
}
.border-right-1 {
  border-right:1px solid #eee;
}