.btn-arrow {
  color: $white;
  font-size: $_14;
  letter-spacing: $_2;
  text-transform: uppercase;
  transition: color 200ms ease;
  &:hover {
    color: $orange;
    text-decoration: none;
    .arrow {
      transform: translateX(13px);
    }
  }
  .arrow {
    transition: transform 200ms ease;
  }

  &--dark {
    color: $black;
  }

  span {padding-left: $_16;}

}