.btn-arrow {
  color: $white;
  font-size: $_14;
  letter-spacing: $_2;
  text-transform: uppercase;
  transition: color 200ms ease;
  &:hover {
    color: $orange;
    text-decoration: none;
    .arrow {
      transform: translateX(13px);
    }
  }
  .arrow {
    transition: transform 200ms ease;
  }

  &--dark {
    color: $black;
  }

  &--outline {
    border:1px solid $orange;
    display: flex;
    align-items: center;
    padding: $_24 $_45;
    transition: background-color 300ms ease;
    &:hover {
      background-color: $orange;
      color: $white;
      .arrow-color {
        stroke: $white;
      }
    }
  }

  span {padding-left: $_16;}

}